<div class="ngid-upload">
  <input
    type="file"
    class="form-control"
    (change)="handleUploadChange($event)"
  />
  <!-- <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 25%"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      25%
    </div>
  </div> -->
  <!-- 
  <ul class="file-list">
    <li
      class="file-item"
      *ngFor="let item of [1, 2, 3, 4]"
      (click)="inputFile.click()"
    >
      <span class="file-item-name">Example.png</span>
      <div class="file-item-action">
        Upload Progress
        <i class="fas fa-spinner fa-spin"></i>
        Delete Upload
        <em class="fas fa-times text-danger"></em>
      </div>
    </li>
  </ul> -->
</div>
